$white: #fff;
$header-color: #00FFCC;
$like-color: #FF0033;
$unlike-color: rgba($color: #000, $alpha: 0.5);
$line: solid 0.5px rgba($color: #0099FF, $alpha: 0.7);

$flash_blue: #38AEF0;
$alert_orange: #F35500;