.show__right
  .main__wrapper__tab
    %ul.tabs
      %li.tab.tab__active
        ストック
      %li.tab
        日記
      %li.tab
        コメント

  %ul.main__wrapper__contents
    %li.content__index.show__index
      = render "posts/index_main_index"
    %li.content__index
    %li.content__index
      = render "show_right_comment"